/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(0,0,0);
    margin: 0;
    padding: 0;
}

.header {
    background-color: #eb0f0f;
    color: rgb(12, 12, 12);
    padding: 20px 0;
    text-align: center;
}

.header h1 {
    font-size: auto
    }
/* estilo barra de opciones */
nav {
    display: flex;
    justify-content: center; 
    align-items: center ;
    max-width: auto;
    background-color: rgb(160, 4, 4);
    
}


nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 50px;
    text-align: justify;
}


/* estilo para las letras de la barra de opciones */
nav a {
    color: rgb(204, 197, 197);
    font-weight: bold;
    text-decoration: none;
    
}

.seccion {
    padding: 40px;
    text-align: center;
}


/* Estilos para centrar títulos con CSS Grid */
.centrar-titulos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    height: 100px; /* Ajusta la altura */
}

.centrar-candybar-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    height: 100px; /* Ajusta la altura */
}

.centrar-titulos-grid h2 {
    margin: 0; /* Elimina el margen predeterminado de los títulos */
    text-align: center; /* Centra el texto dentro de cada título */
}


/* estilo para las letras de la secciones de peliculas/estreno/etc.. */
h2{
    color: rgb(107, 8, 8);
    font-weight: bold;
    text-size-adjust: 100;
}


/* Estilos para el candy bar */
.stylocandybar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Espacio entre las fotos y los títulos */
    justify-content: justify; /* Centrar horizontalmente los elementos en el contenedor */
    align-items: justify; /* Centrar verticalmente los elementos en el contenedor */
    max-width: 1000px; /* Ancho máximo del contenedor */
    margin: 100 auto; /* Centrar el contenedor en la página */
    padding: 20px; /* Espacio alrededor del contenedor */
}

/* Estilos para los elementos individuales (foto + título) */
.item {
    text-align: center; /* Centrar el contenido en el elemento */
}

.item img {
    max-width: 100%; /* Ajustar la imagen al ancho del elemento padre */
    height: auto; /* Mantener la proporción original de la imagen */
}

.item h2 {
    margin: 10px 0; /* Espacio entre el título y la imagen */
}


/* Estilos para el contenedor */
.contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; /* Espacio entre las fotos y los títulos */
    justify-content: center; /* Centrar horizontalmente los elementos en el contenedor */
    align-items: center; /* Centrar verticalmente los elementos en el contenedor */
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor en la página */
    padding: 20px; /* Espacio alrededor del contenedor */
    color: #972f2f; /* Color parrafos detalle */
}

/* Estilos para los elementos individuales (foto + título) */
.item {
    text-align: center; /* Centrar el contenido en el elemento */
}

.item img {
    max-width: 100%; /* Ajustar la imagen al ancho del elemento padre */
    height: auto; /* Mantener la proporción original de la imagen */
}

.item h2 {
    margin: 10px 0; /* Espacio entre el título y la imagen */
}


/* Estilos para el formulario de reserva */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, input, select, button {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

/* Estilos para el pie de página */
footer {
    background-color: #5c0202d2;
    color: white;
    text-align: center;
    padding: 10px 0;
}
